.upload{
    .row_box{display: flex; flex-direction: row;}
    .column_box{display: flex; flex-direction: column;}
    .flex_1_box{flex: 1;}
    .grid_box{display: grid;}
    .center_box{display: flex;justify-content: center;align-items: center;}

    .left{flex: 1;}
    .right{flex: 1;}
    .mid{
        width: 60vw;
        margin-top: 10px; padding: 10px;
        background-color: rgba(225,225,225,0.225);
    }

    label{
        background-color: rgba(0,100,200,1);
        padding: 10px;
        color: white;
    }
    .label_page{text-align: center; font-size: 24px;}

    .field_container{margin-top: 20px;}

    .group_container{
        display: flex;
        flex-direction: row;
        .left_section{width: 302px;}
        .right_section{
            flex: 1;
        }
    }
    
    .thumbnail {
        border: 1px solid rgba(0,100,200,1);
        width: 300px;
        background-repeat: no-repeat; background-position: center; background-size: 30%;
        transition: background-size 0.5s ease-in-out;

        input {
            width: inherit; height: 400px;
            z-index: 100;
            cursor: pointer;
            opacity: 0;
        }
    }
    .thumbnail:hover{
        border: 1px solid green;
        opacity: 0.7;
        background-size: 40%;
        box-shadow: 5px 5px 1px 1px green;
    }

    .title{
        margin-left: 20px;
        label{width: 75px;color: rgba(0,100,200,1);background: transparent;}
        input{
            flex: 1;
            padding: 10px;margin-left: 10px;
            outline: 0px;
            border: 1px solid rgba(0,100,200,1);
            color: gray;
        }
        input:focus{
            border: 1px solid green;
            color: green;
        }
    }

    .context{
        margin-left: 20px;
        label{width: 75px;color: rgba(0,100,200,1);background: transparent;}
        input{
            flex: 1;
            padding: 10px;margin-left: 10px;
            outline: 0px;
            border: 1px solid rgba(0,100,200,1);
            color: gray;
        }
        input:focus{
            border: 1px solid green;
            color: green;
        }
    }

    .status{
        margin-left: 20px;
        label{width: 75px;color: rgba(0,100,200,1);background: transparent;}
        button{
            border: 1px solid rgba(0,100,200,1);
            color: rgba(0,100,200,1);
            margin-left: 10px;
            padding: 10px;
            background-color: white;
        }
        .active{
            border: 1px solid green; background-color: green; color: white;
        }
    }

    .season{
        margin-left: 20px;
        label{width: 75px;color: rgba(0,100,200,1);background: transparent;}
        input{
            padding: 10px;margin-left: 10px;
            outline: 0px;
            border: 1px solid rgba(0,100,200,1);
            color: gray;
            width: 25px;
            text-align: center;
        }
        input:focus{
            border: 1px solid green;
            color: green;
        }
    }

    .genres{
        margin-top: 20px;
        .list{
            grid-template-columns: auto auto auto auto auto; 
            gap: 10px;
            margin: 10px 0px;

            button{
                padding: 5px;
                margin: 5px;
                color: rgba(0,100,200,1);
                border: 1px solid rgba(0,100,200,1);
                background-color: white;
                cursor: pointer;
            }
            .selected{
                color: white;
                background-color: rgba(0,100,200,1);
            }
        }
    }

    .videos{
        border-bottom: 1px solid rgba(0,100,200,1);
        padding-bottom: 10px;
        .each{
            align-items: center;
            margin-top: 10px;
            .my_position{margin-right: 10px;}
            .video_preview{
                position: relative;
                video{
                    width: 250px;height: 150px;
                    border: 1px solid gray;
                    border-radius: 20px;
                    object-fit: fill;
                }
                .show_video {
                    position: absolute; top: 1px; left: 1px;
                    width: 250px;height: 150px;
                    border: 1px solid gray;
                    border-radius: 20px;
                    cursor: pointer;
                    z-index: 0;
                    opacity: 0; 
                    transition: opacity 0.5s ease-in-out;
                }
                .show_video:hover{
                    background-color: rgba(255,255,255,0.5);
                    background-image: url("../../public/playvideoicon.png");
                    background-size: 40px;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 1;
                }
            }
            .info{
                margin-left: 10px;
                .name{width: 90px;margin: 5px 0px;color: rgba(0,100,200,1);}
                .value{margin: 5px 0px;color: rgba(0,100,200,1);}
                input{
                    flex: 1;
                    outline: 0px;
                    border: 1px solid rgba(0,100,200,1);
                    color: gray;
                    padding: 10px;
                }
                input:focus{
                    border: 1px solid green;
                    color: green;
                }
            }
            button{
                margin: 0px 20px;
                width: 100px;height: 40px;
                background-color: transparent;
                border: 1px solid red;
                cursor: pointer;
                color: red;
            }
            button:hover{
                color: white;background-color: red;
            }
        }

        .add_container{
            position: relative;
            margin: 10px 5px 10px 0px;
            height: 50px;
            input{
                position: absolute;
                top: 0px;left: 0px;
                width: 100%;height: 100%;
                z-index: 100;
                opacity: 0;
                cursor: pointer;
            }
            div{
                font-size: 16px;
                height: 100%;
                color: green;
                border: 1px solid green;
                background-color: transparent;
            }
        }
        .add_container:hover{
            div{
                opacity: 0.9;
                color: white;
                background-color: green;
            }
        }
        .remove_all{
            margin: 10px 0px 10px 5px;
            background-color: transparent;
            border: 1px solid red;
            cursor: pointer;
            font-size: 16px;
            color: red;
        }
        .remove_all:hover{
            opacity: 0.9;
            background-color: red;
            color: white;
        }
    }

    .operations{
        button{ cursor: pointer; font-size: 16px; padding: 10px; }
        .upload{
            margin: 10px 5px 10px 0px;
            color : rgba(0,100,200,1);
            background-color: transparent;
            border: 1px solid rgba(0,100,200,1);
        }
        .upload:hover{
            color: white;
            background-color: rgba(0,100,200,1);
        }
        .reset{
            margin: 10px 0px 10px 5px;
            border: 1px solid red;
            color: red;
            border: 1px solid red;
        }
        .reset:hover{
            color: white;
            background-color: red;
        }
    }
}

.preview{
    height: 98vh;
    .row_box{display: flex; flex-direction: row;}
    .column_box{display: flex; flex-direction: column;}
    .center_box{display: flex;justify-content: center;align-items: center;}

    .left{flex: 1;height: 98vh;opacity: 0;align-items: center;color: red;}
    .mid{
        height: 98vh;
        video{
            width: 1280px;height: 720px;
        }
    }
    .right{
        flex: 1; align-items: center;
        height: 98vh;
        .container{
            height: 720px;
            flex: 1;
            button{
                border: 1px solid gray;border-left: 0px;
                background-color: transparent;
                cursor: pointer;
                font-size: 50px;
                color: gray;
                padding: 10px;
            }
            button:hover{color: white;border: 1px solid white;border-left: 0px;}
        }
    }
}

.uploading{
    height: 98vh;
    .row_box{display: flex; flex-direction: row;}
    .column_box{display: flex; flex-direction: column;}
    .reverse_column_box{display: flex;flex-direction: column-reverse;}
    .center_box{display: flex;justify-content: center;align-items: center;}
    .flex_1_box{flex: 1;}

    .left{flex: 1;height: 98vh;opacity: 0;align-items: center;color: red;}
    .mid{
        height: 98vh;
        .container{
            width: 450px; padding: 5px;
            background-color: white;

            label{
                background-color: rgba(0,100,200,1); color: white;
                text-align: center; font-size: 18px; padding: 10px;
            }

            .each{
                align-items: center;margin-top: 5px; 
                .position{ padding: 10px; color: rgba(0,100,200,1); }
                .message{ width: 200px; color: rgba(0,100,200,1); }
                .icon{
                    width: 25px;height: 25px;
                    img{
                        width: 100%;height: 100%;
                        filter: invert(29%) sepia(91%) saturate(469%) hue-rotate(85deg) brightness(97%) contrast(92%);
                    }
                }
            }

            .button_container{
                height: 100px;
                .link_style{
                    margin: 5px;padding: 5px;
                    border: 1px solid rgba(0,100,200,1);
                    background-color: transparent;
                    color: rgba(0,100,200,1);
                    text-decoration: none;
                    text-align: center;
                }
                .link_style:hover{color: white;background-color: rgba(0,100,200,1);}
                .disabled{
                    color: gray;border: 1px solid gray;
                    pointer-events: none;
                }
            }
        }
    }
    .right{flex: 1; align-items: center; height: 98vh;}
}

@media(width < 1000px){
    .upload{
        .mid{width: 100%; margin: 10px;}
        .group_container{flex-direction: column;}
        .title{margin-left: 0px;}
        .context{margin-left: 0px;}
        .status{margin-left: 0px;}
        .season{margin-left: 0px;}
        .genres{.list{grid-template-columns: auto auto auto auto;}}
    }

    .preview{
        .left{opacity: 1;}
        .mid{display: none;}
        .right{display: none;}
    }

    .uploading{
        .left{opacity: 1;}
        .mid{display: none;}
        .right{display: none;}
    }
}